@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root{
	scroll-behavior: smooth;
	/* vars  */
	--header-color: #EDEEF0;
	--body-color: white;
	--page_head-color: #E2E2E2;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
	transition: 1s;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: 1s;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A8A8A8;
	transition: 1s;
}

body{
	margin: 0;
	padding: 0;
	background: var(--body-color);
	overflow-x: hidden;
	display: table;
	height: 100vh;
	width: 100%;
}
#wraper{
	display: table-row;
	height: 100%;
}
#background{
	height: 100%;
	width: 100%;
	overflow: hidden;
	filter: blur(25px);
	opacity: 0.7;
	transition: all 1s;
	transform: scale(1.1)
}
#back{
	height: 100%;
	width: 100%;
	left: 0%;
	top: 0%;
	position: fixed;
	z-index: -1;
}

#header{
	position: relative;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	height: 70px;
	font-size: 31pt;
	font-family: 'Architects Daughter', cursive;
	background: var(--header-color);
	transition: all 1s;
	overflow: hidden;
}
#header img{
	pointer-events: none;
	vertical-align: bottom;
	height: 70px;
	margin-left: 10px;
	filter: drop-shadow(0 0 1px white);
	transition: 0.2s;
}
#header a{
	text-decoration: none;
	color: black;
	transition: 0.35s;
}
#header a:hover{
	color: #0077FF;
}
#header a:hover img{
	filter: drop-shadow(0 0 1px #0077FF);
}


#header_{position: relative;white-space: nowrap;user-select: none;cursor: pointer;height: 70px;font-size: 31pt;font-family: 'Architects Daughter', cursive;background: var(--header-color);transition: all 1s;overflow: hidden;}
#header_ img{pointer-events: none;vertical-align: bottom;height: 70px;margin-left: 10px;filter: drop-shadow(0 0 1px white);transition: 0.2s;}
#header_ a{text-decoration: none;color: black;transition: 0.35s;}

#page{
  max-width: 380px;
  background: var(--page_head-color);
	margin: auto;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	padding-top: 10px;
	margin-bottom: 10px;
	border-radius: 25px;
	margin-top: 10px;
	border: 1px solid black;
	transition: all 1s;
}
#page > img{
	width: 70%;
	margin: auto;
	display: block;
	border-radius: 20px;
}
#track_name{
	font-size: 2em;
	font-weight: bold;
	margin: 10px 0 5px;
	display: inline-block;
	color: black;
	transition: 0.4s;
}
#artist{
	font-size: 1em;
	display: inline-block;
	color: black;
	transition: 0.4s;
}
hr{
	margin-bottom: 0;
	border-color: black;
	background-color: black;
	transition: 1s;
}
#links_area{
	border-radius: 0 0 25px 25px;
	padding-bottom: 5px;
	background: var(--body-color);
	height: 100%;
	transition: all 1s;
}
#player{
	padding: 0 10px;
	height: 72px;
	transition: 0.3s;
	overflow: hidden;
}
#player i{
	font-size: 30px;
	margin-right: 10px;
	float: left;
	cursor: pointer;
	top: 25px;
	position: relative;
	color: black;
	transition: 0.5s;
}
#player span{
	border: 1px solid;
	padding: 0 6px;
	border-radius: 10px;
	transform: translateY(-10px);
}
#time-total{
	display: none;
	float: right;
	transition: 0.3s;
	color: black;
}
#time-current{
	display: none;
	float: left;
	transition: 0.3s;
	color: black;
}

.link{
	height: 70px;
	display: flex;
	justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: 0.35s;
  box-shadow: inset 0 -2px 9px 0 rgb(0, 0, 0, 0.1);
	border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.link:hover{
	background: #E6E6E6;
}
.link:last-child{
	border-radius: 0 0 20px 20px;
	box-shadow: none;
	border-bottom: none;
}
.link svg{
	height: 70%;
	transition: 0.75s;
}
.link img{
	height: 70%;
	margin-left: 10px;
	user-select: none;
}
.link a{
	text-decoration: none;
	color: #707070;
	font-family: inherit;
	font-size: 14pt;
	position: absolute;
	right: 10px;
	padding: 8px 10px;
	border: 2px solid grey;
	border-radius: 15px;
	transition: 0.3s;
}
.link a:hover{
	color: black;
	border-color: white;
	background-color: white;
}
#download{
	justify-content: center;
}
#download a{
	position: unset;
	margin-left: 10px;
}

#footer{
	background: var(--header-color);
	font-family: 'Ubuntu Mono', monospace;
	text-align: center;
	padding: 20px 0;
	transition: 1s;
}
#footer a{
	font-size: 15pt;
	text-decoration: none;
	color: black;
	transition: 0.35s;
}
#footer div{
	color: black;
	margin-top: 20px;
	font-size: 11pt;
	transition: 0.35s;
}
#footer a:hover{
	text-decoration: underline;
	color: blue;
}




/* Support  */
#support{
	font-family: 'Ubuntu Mono', monospace;
	text-align: center;
	display: flex;
	flex-direction: column;
  align-items: center;
}
#support a{
	text-decoration: none;
	font-size: 20pt;
	display: inline-block;
	margin: 15px;
	color: black;
	border: 2px solid black;
	border-radius: 25px;
	padding: 5px 20px;
	transition: 0.3s;
}
#support a:hover{
	padding: 5px 40px;
}
#support a img{
	height: 26px;
	vertical-align: top;
	margin-right: 15px;
}
#email{
	margin-top: 15px;
	font-size: 14pt;
	transition: 0.3s;
	opacity: 0;
	display: none;
}
.anim_email{
	animation: blinking 1.5s infinite;
}
@keyframes blinking{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.6;
	}
	100%{
		opacity: 1;
	}
}


/* index */
#main_page{
	text-align: center;
	font-family: sans-serif;
}
#main_page h1{
	font-family: 'Comfortaa', cursive;
}
#main_page table{
	border: 2px solid white;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 15pt;
	border-collapse: collapse;
	background: #252F48;
	margin: auto;
}
#main_page table th {
  color: white;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 20px;
  font-size: 16pt;
}
#main_page table tr:nth-child(2n) {
  background: #303B56;
}
#main_page table td {
  color: lightgrey;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px;
}
#main_page table tr:last-child td { border-bottom: none; }
#main_page table td:last-child { border-right: none; }


/* Phone  */
@media all and (max-width: 500px) {
	#page{
	    max-width: 100%;
	}
	#main_page table{
		font-size: 14pt;
	}
	#main_page table th {
		font-size: 15pt;
	  padding: 12px 5px;
	}
	#main_page table td {
	  padding: 7px 5px;
	}
}


/* ---------------- */

.about_box{
	font-family: 'Nunito', sans-serif;
	height: 100%;
	width: 200px;
	padding: 10px;
	margin: 20px;
	border-radius: 30px;
	background: #F3F9FF;
	border: 1px solid black;
	transition: 0.75s;
	cursor: pointer;
	text-decoration: none;
	color: black;
	display: inline-block;
}
.about_box:hover{
	border-radius: 40px;
}
.about_box:hover img{
	border-radius: 30px;
}
.about_box img{
	height: 150px;
	border-radius: 50px;
	transition: 0.4s;
	user-select: none;
	pointer-events: none;
}
.track_name{
	font-size: 1.8em;
	font-weight: bold;
	color: black;
	transition: 0.5s;
}
.artist{
	font-size: 1em;
	color: black;
	transition: 0.5s;
}

/* ---------------- */
#swicher{
	position: absolute;
	top: 8px;
	right: 12px;
	transform: scale(0.95);
}
#moon{
  width:50px;
  height:50px;
  background:#F6D602;
  border-radius:50%;
  transition: 1s;
  border: 2px solid #f5eb71;
}
#moonspot1{
  width:8px;
  height:8px;
  background:#F6D602;
  border-radius:50%;
  transform:translate(4px,20px);
  transition:all 1s;
}
#moonspot2{
  width:5px;
  height:5px;
  background:#F6D602;
  border-radius:50%;
  transform:translate(10px,22px);
  transition:all 1s;
}
#cover{
  width:50px;
  height:50px;
  background: var(--header-color);
  border-radius:50%;
  transform:translate(42px,-92px);
  transition:all 1s;
}
