form{
	display: flex;
    justify-content: center;
    margin-top: 1.5%;
}
table{
	font-family: sans-serif;
	text-align: center;
	font-size: 16pt;
	border: 3px solid #f69a73;
	border-radius: 30px;
	box-shadow: 3px 4px 10px #d87d56;
}
table table{
	border: none;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
}
table td{
	padding: 12px 20px;
}
table hr{
	border-color: #f69a73 !important;
	background-color: #f69a73 !important;
	height: 2px;
}
table input[type="text"]{
	font-size: 16pt;
	text-align: center;
	border-radius: 50px;
}
table input[type="submit"]{
	font-size: 16pt;
	text-align: center;
	cursor: pointer;
	border-radius: 50px;
    padding: 5px 30px;
}
table input[type="checkbox"]{
	transform: scale(1.5);
}
.checkFile{
	font-size: initial;
}
table summary{
	cursor: pointer;
}
table table img{
	height: 40px;
	background: rgb(175, 175, 175, 0.5);
	border-radius: 25px;
	padding: 0 20px;
}
table table i{
	cursor: pointer;
	vertical-align: middle;
}
table table input[type="text"] {
	font-size: 14pt;
}